<!doctype html>
<head>
    <title>To Do List</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<div class=page>
    <h1>To Do List:</h1>

    <div class=metanav>
        {% if request.path != "/" %}
        <button onclick="location.href='{{url_for('main_menu')}}'">Home</button>
        {% endif %}
        {% if session.logged_in %}
        <button onclick="location.href='{{url_for('logout')}}'">Log Out</button>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>
