<!doctype html>
<html>
  <head>
    <title>Things to do</title>
  </head>
  <body>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='templated-linear/css/style-desktop.css') }}">

    <h1>Things To Do</h1>
    <form id="todo_list" action="{{ url_for('add')}}" method="post">
        Create a new todo:
        <p>
        <input name='input' type="text" size="25" value="">
        <input type="submit" value="Create">
    </form>
    <hr>
    {% block body %}{% endblock %}

</html>
