{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_todo') }}" method=post class=add-entry>
      <dl>
        <dd><dt>Add a todo: <input type=text size=30 name=text_box>
        <input type=submit value=Add>
      </dl>
    </form>

  <ul class=entries>
  {% for todo in todos %}
  <form action="{{ url_for('delete_todo') }}" method=post class=subtract-entry>
    <li><input type='checkbox' name='todos' value ='{{todo.id}}'>{{ todo.text }}</input>
  {% else %}
    <li><em>You have no todos!</em>
  {% endfor %}
  <dl>
  <input type='submit' value='Remove'>
</dl>
</form>
  </ul>
{% endblock %}
